.innerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.outerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 10px;
    border: solid 2px rgb(221, 221, 221);
    width: 30%;
    margin: 10px;
    background-color: hsl(209, 18%, 50%);

}

.innerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 2px rgb(243, 243, 243);
    width: 90%;
    margin: 10px;
    background-color: white
}

.cardHeader2
{
    color: white;
    text-align: center;
}