.container {
    display: flex;
    flex-wrap: wrap;
    justify-Content: center;
    background-color: hsl(209, 40%, 15%);
    height: 700px;
}

.card {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: solid 2px rgb(163, 162, 162);
        width: 30%;
        margin: 10px;
        font-size: 5vh;
        border-radius: 8px;;
        background-color: white;
}

.cardHeader
{
    font-size: 50px;
}

.cardText
{
    font-size: 20px;
}

.container > .innerContainer
{
    padding: 50px 0px 0px 0px; 
    margin: 100px 0px 0px 0px;   
}