#main
{
    background-color: hsl(209, 40%, 15%);
}

.innerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    border-radius: 0px 0px 4px 4px;
    width: 80%;
    margin: 0px 0px 100px 0px;
}

.outerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 10px;
    /* border: solid 2px rgb(221, 221, 221); */
    box-shadow: -5px 5px 15px 2px rgb(190, 190, 190);
    background-color: hsl(209, 25%, 30%);
    width: 25%;
    margin: 20px;
    height: 20vh;
    min-height: 300px;
    max-height: 500px;
}

.innerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: solid 2px rgb(243, 243, 243);
    width: 90%;
    border-radius: 4px;
    /* margin: 10px; */
    height: 100%;
    background-color: white
}

.innerCard > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipeText
{
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.recipeLink
{
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0px 3px 10px 1px rgb(165, 165, 165);
    background-color: hsl(209, 80%, 45%);
}

.recipeLink:hover
{
    background-color: hsl(209, 80%, 35%);
    transition: .5s;
}

.likesButton
{
    padding: 10px 10px 10px 10px;
    font-size: 17px;
    border: rgb(206, 206, 206);
    background-color: hsl(0, 0%, 93%);
    border-radius: 4px;
}

.likesButton:hover
{
    background-color: hsl(0, 0%, 83%);
    cursor: pointer;
    transition: .5s;
}

.cardHeader2
{
    color: white;
    text-align: center;
    margin: 5px 0px 10px 0px;
}

.infoCont
{
    width: 40%;
    padding: 10px 20% 10px 20%;
    margin: 150px 0px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    background-color: rgb(100, 122, 143);

}

.infoText
{
    color: rgb(247, 247, 247);
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .infoText
    {
        font-size: 13px;
        
    }
    .infoCont
    {
        padding: 10px 5% 10px 5%;
        width: 80%;
    }
    .outerCard
    {
        width: 80%;
    }
    .innerContainer
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
}